.reveal {
    .look {
        margin-top: 3rem;
        text-shadow: 3px 3px 2px #111;
    }

    .horizontal-split {
        margin-top: 2rem;

        div {
            float: left;
            margin-left: 1em;
            width: 48%;

            &:first-child {
                margin-left: 0;
            }

            pre {
                margin: 0 auto;
                width: 100%;
            }
        }
    }

    h2 {
        &.no-transform {
            text-transform: none;
        }
    }
}
